$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  margin-top: 10px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.weather-list-item h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.weather-img {
  width: 36px;
}

.details-header h1 {
  position: relative;
}

.weather-img.weather-img--city-details {
  position: absolute;
  right: -68px;
  top: -6px;
  width: auto;
}

.weather-img.weather-img--left {
  margin-right: 10px;
}

.weather-list-item {
  display: block;
  height: 66px;
  padding-top: 11px;
}

.weather-list-item__close-button {
  margin-right: 5px; 
}

.weather-list-item * {
  color: #333;
}

.city-detail-table {
  margin-bottom: 0;
}

.city-detail-table h3 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.weather-img-td {
  text-align: right;
}

.details-header__back-link {
  padding-top: 25px;
}

.city-detail-table td, .city-detail-table th {
  vertical-align: middle !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.weather-list-item:hover, .weather-list-item:hover * {
  text-decoration: none;
}

.weather-header-panel {
  margin-top: 10px;
  margin-bottom: 0;
}

.weather-header-panel__label {
  margin-right: 7px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
