<div ng-controller="WeatherCtrl as ctrl" class="ng-cloak">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 clearfix">
          <h1 class="pull-left">City Weather</h1>
          
          <div city-summary-header-panel></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div filter-form></div>
        
        <div class="alert alert-danger" ng-show="ctrl.error">
          <button type="button" class="close" ng-click="ctrl.error = null;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ctrl.error}}
        </div>
      </div>
    </div>
    
    <div class="weather-list">
      
      <div columns col-count="2">
        
        <div ng-repeat="c in ctrl.cities">
          <div city-summary-block
               column
               city="c"
               update-city="ctrl.updateCity(cityId)"
               delete-city="ctrl.deleteCity(cityId)">
          </div>
        </div>
        
        <div column add-city></div>
        
      </div>
      
    </div>
  </div>
</div>