<div class="row" ng-controller="MainCtrl as ctrl" class="ng-cloak">
  <!-- <div class="col-sm-6">
    <form name="search"
          ng-submit="ctrl.search()">
      <div class="row">
        <div class="form-group">
          <input type="text"
                 placeholder="Jersey City"
                 class="form-control"
                 ng-model="ctrl.place"
                 required>
        </div>
        <div class="form-group">
          <input type="submit"
                 class="btn btn-success btn-block"
                 value="Search"
                 ng-disabled="search.$invalid">
        </div>
      </div>
    </form>
  </div> -->

  <div class="col-sm-12 weather">
    <img ng-src="{{ctrl.data.img}}" class="weather-img pull-left">
    <h2>Weather for {{ctrl.data.city}}, {{ctrl.data.state}}</h2>
    <div>
      <strong>{{ctrl.data.text}}</strong>, {{ctrl.data.temp}}°F
    </div>
  </div>
</div>