<div class="well well-sm">
  <btn class="btn btn-default btn-block btn-lg"
       ng-hide="showForm"
       ng-click="toggleForm()">
    Add City
    <span class="glyphicon glyphicon-plus"></span>
  </btn>

  <form ng-show="showForm"
        ng-submit="addCity.$valid && ctrl.search()"
        name="addCity">
    
    <div class="input-group">
      <input type="text"
             placeholder="City/Zip Code"
             class="form-control input-lg add-city-input"
             ng-model="ctrl.query"
             required>
           
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" 
                type="button"
                ng-click="addCity.$valid && ctrl.search()"
                ng-disabled="addCity.$invalid">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>  
  </form>
</div>