<div ng-controller="WeatherCtrl as ctrl" class="ng-cloak">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 clearfix">
          <h1 class="pull-left">City Weather</h1>
          
          <div weather-header-panel></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form class="filter-form" 
              name="filterCity">
              
          <div class="input-group">
            <input type="search"
                   placeholder="Filter by city or state"
                   class="form-control input-lg"
                   ng-model="ctrl.filterQuery"
                   ng-change="ctrl.filterCities()"
                   required>
           
            <span class="input-group-btn">
              <button class="btn btn-default btn-lg" 
                      type="button"
                      ng-disabled="filterCity.$invalid">
                <span class="glyphicon glyphicon-filter"></span>
              </button>
            </div>
        </form>
      </div>
    </div>
    
    <div class="weather-list">
      <div ng-repeat="cities in ctrl.cityRows">
        <div class="row">
          <div ng-repeat="c in cities">
            <div class="col-sm-{{ctrl.colSpan()}}">
              <div city-summary city="c" delete-city="ctrl.deleteCity(cityId)"></div>
            </div>
            <div class="col-sm-{{ctrl.colSpan()}}"
                 ng-show="$last && $parent.$last && ctrl.roomForButton">
              <div add-city></div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row" ng-hide="ctrl.roomForButton">
        <div class="col-sm-{{ctrl.colSpan()}}">
          <div add-city></div>
        </div>
      </div>
    
    </div>
  </div>
</div>